.opportunity-view {
  width: 100%;
  height: 100%;
}
.left-column {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 230px;
}

.artworkImg {
  max-width: 150%;
}
#PlayerContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.submissions-container {
  z-index: 1;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  overflow: auto;
}
.submissions-container .submissionItem {
  margin-left: 3px;
}
