.submissionItem {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  cursor: pointer;
  background: whitesmoke;
  border-left: 5px solid transparent;
}

.submissionItem:hover {
  border-left: 5px solid #ccc;
}

.submissionItem.playing {
  border-left: 5px solid black;
  background: white;
}

.media { }
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img {display:block;}


