body {
  margin: 0;
  padding: 0;
  font: 15px/1.6 "Helvetica Nueue", Helvetica;
  padding-bottom: 150px;
}
#PlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

